<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.author.github %}
          <li>
            {%- include svg-icon.html icon="Github" id="github" w="59" h="59" hidden=true -%}
          </li>
          {% endif %}

          {% if site.author.twitter %}
          <li>
            {%- include svg-icon.html icon="Twitter" id="twitter" w="59" h="59" hidden=true -%}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
