<footer class="site-footer">

  <section class="section site-footer__top">
    <div class="container">
      <div class="columns footer-menu">
        {%- assign nav = site.data.footer-nav -%}
        {%- for item in nav -%}
          <div class="column">
            <ul class="footer-menu__list">
              {%- if item.name -%}
                <li class="footer-menu__item footer-menu__item--heading">{{ item.name }}</li>
              {%- endif -%}
              {%- if item.list -%}
                {%- for sub in item.list -%}
                  <li class="footer-menu__item"><a href="{{ sub.link }}">{{ sub.name }}</a></li>
                {%- endfor -%}
              {%- endif -%}
            </ul>
          </div>
        {%- endfor -%}
        <div class="column">
          <ul class="footer-menu__list footer-menu__list--social">
            <li class="footer-menu__item footer-menu__item--heading">Social</li>
            {%- if site.author.twitter -%}
              <li class="footer-menu__item"><a href="{{ site.author.twitter }}" class="icon-link" target="_blank">{%- include svg-icon.html icon="Twitter" id="twitter" title="Twitter" desc="Twitter logo of a bird." -%}</a></li>
            {%- endif -%}
            {%- if site.author.github -%}
              <li class="footer-menu__item"><a href="{{ site.author.github }}" class="icon-link" target="_blank">{%- include svg-icon.html icon="Github" id="github" title="Github" desc="Github logo of a octopus cat hybrid." -%}</a></li>
            {%- endif -%}
            {%- if site.author.linkedin -%}
              <li class="footer-menu__item"><a href="{{ site.author.linkedin }}" class="icon-link" target="_blank">{%- include svg-icon.html icon="Linkedin" id="linkedin" title="Linkedin" desc="LinkedIn logo of a square with in in the centre." -%}</a></li>
            {%- endif -%}
            {%- if site.author.instagram -%}
              <li class="footer-menu__item"><a href="{{ site.author.instagram }}" class="icon-link" target="_blank">{%- include svg-icon.html icon="Instagram" id="instagram" title="Instagram" desc="Instagram logo of a camera." -%}</a></li>
            {%- endif -%}
            {%- if site.author.pintrest -%}
              <li class="footer-menu__item"><a href="{{ site.author.pintrest }}" class="icon-link" target="_blank">{%- include svg-icon.html icon="Pinterest" id="pinterest" title="Pinterest" desc="Pinterest logo of a p within a circle." -%}</a></li>
            {%- endif -%}
          </ul>
        </div>
        <div class="column is-4 footer-hub">
          <h4>Enter the lab @ <a class="footer-hub__link" href=" https://hub.yewtreeweb.co.uk" target="_blank">YewTree
              Hub</a></h4>
          {%- include svg-icon.html icon="programming-browser--nofill" id="hub" title="Programming Icon" desc="icon of a terminal with a code symbol inside." -%}
        </div>
      </div>
    </div>
  </section>

  <section class="section site-footer__bottom">

    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <a class="footer-logo" href="{{ site.baseurl }}">{{ site.title }}</a>
        </div>
        <div class="column is-8 footer-copy">
          <p>&copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }} - {{ site.author.name }}. All rights
            reserved.</p>
        </div>
      </div>
    </div>

  </section>

</footer>
