<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>

    <button class="hamburger hamburger--emphatic" type="button" aria-label="Menu" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <nav id="navigation" class="site-nav">
      <ul>
        <li><a href="{{ site.baseurl }}" {% if page.url == site.baseurl %}class="active"{% endif %}>Home</a></li>
        <li><a href="/blog.html" {% if page.url == "/blog.html" %}class="active"{% endif %}>Blog</a></li>
      </ul>
    </nav>

  </div>

</header>
