{%- assign hero = page.hero -%}

<section class="hero">
  <div class="hero__body">
    <div class="container">
        <h1 class="hero__subtitle">{{ site.author.name }}</h1>
        <h2 class="hero__title">{{ site.title }}</h2>
        <div id="typed-headings" class="hero__headings">
            {%- for heading in site.data.hero-headings -%}
                <h3 class="hero__heading">{{ heading.text }}</h3>
            {%- endfor -%}
        </div>
        <span id="typed"></span>
        {%- if site.data.quotes -%}
            <div class="hero__quotes">
            {%- for quote in site.data.quotes -%}       
                <figure class="hero__quote">
                    <blockquote cite="{{ quote.cite | escape }}">
                        "{{ quote.quote | strip }}"
                    </blockquote>
                    <figcaption>By {{ quote.author }}</figcaption>
                </figure>
            {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
  </div>
</section>