{%- assign hero = page.hero -%}

<section class="hero">
  <div class="hero__body">
    <div class="container">
        <h1 class="hero__subtitle">{{ site.author.name }}</h1>
        <h2 class="hero__title">{{ site.title }}</h2>
        <div class="hero__headings">
            <h3 class="hero__heading">WordPress & Shopify Developer</h3>
            <h3 class="hero__heading">Fullstack Developer</h3>
        </div>
        <span id="typed"></span>

        {%- for quote in site.data.quotes -%}
            <figure class="hero__quote">
                <blockquote cite="{{ quote.cite | escape }}">
                    "{{ quote.quote | strip }}"
                </blockquote>
                <figcaption>By {{ quote.author }}</figcaption>
            </figure>
        {%- endfor -%}
    </div>
  </div>
</section>