{%- assign hero = page.hero -%}

<section class="hero">
  <div class="hero__body">
    <div class="container">
        {%- unless site.baseurl -%}
            {%- if hero.subtitle -%}
                <h1 class="hero__subtitle">{{ hero.subtitle }}</h1>
            {%- endif -%}
        {%- else -%}
            <h1 class="hero__subtitle">{{ site.author.name }}</h1>
        {%- endunless -%}
        <h2 class="hero__title">{{ hero.title | default: site.title }}</h2>
        {%- if hero.headings -%}
            <div id="typed-headings" class="hero__headings">
                {%- for heading in hero.headings -%}
                    <h3 class="hero__heading">{{ heading.text }}</h3>
                {%- endfor -%}
            </div>
            <span id="typed"></span>
        {%- endif -%}
        {%- if hero.quotes and site.data.quotes -%}
            <div class="hero__quotes">
            {%- for quote in site.data.quotes -%}       
                <figure class="hero__quote">
                    <blockquote cite="{{ quote.cite | escape }}">
                        "{{ quote.quote | strip }}"
                    </blockquote>
                    <figcaption>By {{ quote.author }}</figcaption>
                </figure>
            {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
  </div>
</section>