<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//connect.facebook.net">
<link rel="preconnect" href="https://instant.page/1.2.1" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/lombok-webfont.woff2' | relative_url }}" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/barlow-v4-latin-regular.woff2' | relative_url }}" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/barlow-v4-latin-200.woff2' | relative_url }}" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/barlow-v4-latin-300.woff2' | relative_url }}" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/barlow-v4-latin-500.woff2' | relative_url }}" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/barlow-v4-latin-600.woff2' | relative_url }}" crossorigin>
<link rel="preload" href="{{ '/assets/css/main.css' | relative.url }}" as="style">