/*
* CSS Variables
* creates the root variables of the prohject.
*/
:root,
[data-theme="default"] {
  // Main
  --color-primary-darker: hsl(220, 90%, 36%);
  --color-primary-dark: hsl(220, 90%, 46%);
  --color-primary: hsl(220, 90%, 56%);
  --color-primary-light: hsl(220, 90%, 66%);
  --color-primary-lighter: hsl(220, 90%, 76%);
  --color-primary-a20: hsla(220, 90%, 56%, 0.2);

  --color-accent-darker: hsl(355, 90%, 41%);
  --color-accent-dark: hsl(355, 90%, 51%);
  --color-accent: hsl(355, 90%, 61%);
  --color-accent-light: hsl(355, 90%, 71%);
  --color-accent-lighter: hsl(355, 90%, 81%);

  // Black & White.
  --color-black: hsl(240, 8%, 12%);
  --color-black-a10: hsla(240, 8%, 12%, 0.1);

  --color-white: hsl(0, 0%, 100%);

  // Feedback
  --color-success-darker: hsl(94, 48%, 36%);
  --color-success-dark: hsl(94, 48%, 46%);
  --color-success: hsl(94, 48%, 56%);
  --color-success-light: hsl(94, 48%, 66%);
  --color-success-lighter: hsl(94, 48%, 76%);
  --color-success-a20: hsla(94, 48%, 56%, 0.2);

  --color-error-darker: hsl(355, 90%, 41%);
  --color-error-dark: hsl(355, 90%, 51%);
  --color-error: hsl(355, 90%, 61%);
  --color-error-light: hsl(355, 90%, 71%);
  --color-error-lighter: hsl(355, 90%, 81%);
  --color-error-a20: hsla(355, 90%, 61%, 0.2);

  --color-warning-darker: hsl(46, 100%, 41%);
  --color-warning-dark: hsl(46, 100%, 51%);
  --color-warning: hsl(46, 100%, 61%);
  --color-warning-light: hsl(46, 100%, 71%);
  --color-warning-lighter: hsl(46, 100%, 81%);
  --color-warning-a20: hsla(46, 100%, 61%, 0.2);

  // color contrast
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-a00: hsla(0, 0%, 100%, 0);
  --color-contrast-lower: hsl(0, 0%, 95%);
  --color-contrast-low: hsl(240, 1%, 83%);
  --color-contrast-medium: hsl(240, 1%, 48%);
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-higher: hsl(240, 8%, 12%);
  --color-contrast-higher-a90: hsla(240, 8%, 12%, 0.9);

  // Semantic
  --color-border: var(--color-contrast-low);

:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 220, 90%, 36%);
  @include defineColorHSL(--color-primary-dark, 220, 90%, 46%);
  @include defineColorHSL(--color-primary, 220, 90%, 56%);
  @include defineColorHSL(--color-primary-light, 220, 90%, 66%);
  @include defineColorHSL(--color-primary-lighter, 220, 90%, 76%);

  @include defineColorHSL(--color-accent-darker, 355, 90%, 41%);
  @include defineColorHSL(--color-accent-dark, 355, 90%, 51%);
  @include defineColorHSL(--color-accent, 355, 90%, 61%);
  @include defineColorHSL(--color-accent-light, 355, 90%, 71%);
  @include defineColorHSL(--color-accent-lighter, 355, 90%, 81%);

  // black + white
  @include defineColorHSL(--color-black, 240, 8%, 12%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-success-darker, 94, 48%, 36%);
  @include defineColorHSL(--color-success-dark, 94, 48%, 46%);
  @include defineColorHSL(--color-success, 94, 48%, 56%);
  @include defineColorHSL(--color-success-light, 94, 48%, 66%);
  @include defineColorHSL(--color-success-lighter, 94, 48%, 76%);

  @include defineColorHSL(--color-error-darker, 355, 90%, 41%);
  @include defineColorHSL(--color-error-dark, 355, 90%, 51%);
  @include defineColorHSL(--color-error, 355, 90%, 61%);
  @include defineColorHSL(--color-error-light, 355, 90%, 71%);
  @include defineColorHSL(--color-error-lighter, 355, 90%, 81%);

  @include defineColorHSL(--color-warning-darker, 46, 100%, 41%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 51%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 81%);

  // color contrasts
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
  @include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
  @include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
  @include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
  @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
}

/*
* SCSS Variables
* Pulls in the CSS Vairables for easier use.
*/

// Main.
$primary-darker: var(--color-primary-darker);
$primary-dark: var(--color-primary-dark);
$primary: var(--color-primary);
$primary-light: var(--color-primary-light);
$primary-lighter: var(--color-primary-lighter);
$primary-a20: var(--color-primary-a20);

$accent-darker: var(--color-accent-darker);
$accent-dark: var(--color-accent-dark);
$accent: var(--color-accent);
$accent-light: var(--color-accent-light);
$accent-lighter: var(--color-accent-lighter);

// Black & White.
$black: var(--color-black);
$black-a10: var(--color-black-a10);

$white: var(--color-white);

// Feedback
$success-darker: var(--color-success-darker);
$success-dark: var(--color-success-dark);
$success: var(--color-success);
$success-light: var(--color-success-light);
$success-lighter: var(--color-success-lighter);
$success-a20: var(--color-success-a20);

$error-darker: var(--color-error-darker);
$error-dark: var(--color-error-dark);
$error: var(--color-error);
$error-light: var(--color-error-light);
$error-lighter: var(--color-error-lighter);
$error-a20: var(--color-error-a20);

$warning-darker: var(--color-warning-darker);
$warning-dark: var(--color-warning-dark);
$warning: var(--color-warning);
$warning-light: var(--color-warning-light);
$warning-lighter: var(--color-warning-lighter);
$warning-a20: var(--color-warning-a20);

// color contrast
$bg: var(--color-bg);
$bg-a00: var(--color-bg-a00);
$contrast-lower: var(--color-contrast-lower);
$contrast-low: var(--color-contrast-low);
$contrast-medium: var(--color-contrast-medium);
$contrast-high: var(--color-contrast-high);
$contrast-higher: var(--color-contrast-higher);
$contrast-higher-a90: var(--color-contrast-higher-a90);

// Semantic
$border: var(--color-border);

/*
* Themes
* controls the look of the site.
*/

[data-theme] {
  background-color: $bg;
  color: $contrast-high;
}
