.form-control {
  // basic form element style
  padding: $space-xs $space-sm;
  background: $bg;
  border: 2px solid $contrast-low;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $primary;
    --color-shadow: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2); // fix iOS 12 bug
    box-shadow: 0 0 0 3px var(--color-shadow);
  }

  &::-webkit-input-placeholder {
    color: $contrast-medium;
  }

  &::-moz-placeholder {
    opacity: 1;
    color: $contrast-medium;
  }

  &:-ms-input-placeholder {
    color: $contrast-medium;
  }

  &:-moz-placeholder {
    color: $contrast-medium;
  }
}

.form-control[disabled],
.form-control[readonly] {
  cursor: not-allowed;
}

.form-control[aria-invalid="true"] {
  border-color: $error;

  &:focus {
    --color-shadow: hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), 0.2); // fix iOS 12 bug
    box-shadow: 0 0 0 3px var(--color-shadow);
  }
}

.form-legend {
  color: $contrast-higher;
  line-height: 1.2;
  font-size: $text-md;
  margin-bottom: $space-xxs;
}

.form-label {
  // label style
  display: inline-block;
  font-size: $text-sm;
  margin-bottom: $space-xxxs;
}

// error message
.form__msg-error {
  background-color: $error;
  color: $white;
  font-size: $text-sm;
  @include fontSmooth;
  padding: $space-xs;
  margin-top: $space-sm;
  border-radius: 0.25em;

  // hide element
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);

  &::before {
    content: '';
    position: absolute;
    left: $space-sm;
    top: 0;
    transform: translateY(-100%);
    @include triangle(up, 8px, $error);
  }
}

.form__msg-error--is-visible {
  position: relative;
  clip: auto;
}

// radio and checkbox lists
.radio-list,
.checkbox-list {
  >* {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: $space-xxs;
  }

  >*:last-of-type {
    margin-bottom: 0;
  }

  label {
    // radio/checkbox labels
    line-height: $body-line-height;
    user-select: none;
  }

  input {
    vertical-align: top;
    margin-right: $space-xxxs;
    flex-shrink: 0;
  }

  &.radio-list--inline,
  &.checkbox-list--inline {
    // inline distribution for checkboxes and radio buttons
    display: flex;
    margin-bottom: calc(-1 * $space-md);

    >* {
      margin: 0 $space-md $space-md 0;
    }
  }
}
