
// optional - edit space unit and padding of all components at a specific breakpoint
@supports(--css: variables) {
  @include breakpoint(md) {
    body {
      --space-unit: 1.25em;
    }
  }
}

// margin top
.margin-top,
.margin-top--md {
  margin-top: $space-md;
}

.margin-top--xxxxs {
  margin-top: $space-xxxxs;
}

.margin-top--xxxs {
  margin-top: $space-xxxs;
}

.margin-top--xxs {
  margin-top: $space-xxs;
}

.margin-top--xs {
  margin-top: $space-xs;
}

.margin-top--sm {
  margin-top: $space-sm;
}

.margin-top--lg {
  margin-top: $space-lg;
}

.margin-top--xl {
  margin-top: $space-xl;
}

.margin-top--xxl {
  margin-top: $space-xxl;
}

.margin-top--xxxl {
  margin-top: $space-xxxl;
}

.margin-top--xxxxl {
  margin-top: $space-xxxxl;
}

// margin bottom
.margin-bottom,
.margin-bottom--md {
  margin-bottom: $space-md;
}

.margin-bottom--xxxxs {
  margin-bottom: $space-xxxxs;
}

.margin-bottom--xxxs {
  margin-bottom: $space-xxxs;
}

.margin-bottom--xxs {
  margin-bottom: $space-xxs;
}

.margin-bottom--xs {
  margin-bottom: $space-xs;
}

.margin-bottom--sm {
  margin-bottom: $space-sm;
}

.margin-bottom--lg {
  margin-bottom: $space-lg;
}

.margin-bottom--xl {
  margin-bottom: $space-xl;
}

.margin-bottom--xxl {
  margin-bottom: $space-xxl;
}

.margin-bottom--xxxl {
  margin-bottom: $space-xxxl;
}

.margin-bottom--xxxxl {
  margin-bottom: $space-xxxxl;
}
