/*
* CSS Variables
* creates the root variables of the prohject.
*/
:root {
  --display-block: block;
  --display-none: none;
  --visibility-visible: visible;
  --visibility-hidden: hidden;
}

/*
* SCSS Variables
* Pulls in the CSS Vairables for easier use.
*/
$show: var(--display-block);
$hide: var(--display-none);
$visible: var(--visibility-visible);
$hidden: var(--visibility-hidden);

.is-visible {
  display: $show !important;
  visibility: $visible;
}

.is-hidden {
  display: $hide !important;
  visibility: $hidden;
}

@include breakpoint(xs, "not all") {
  .display--xs {
    display: $hide !important;
  }
}

@include breakpoint(xs) {
  .hide--xs {
    display: $hide !important;
  }
}

@include breakpoint(sm, "not all") {
  .display--sm {
    display: $hide !important;
  }
}

@include breakpoint(sm) {
  .hide--sm {
    display: $hide !important;
  }
}

@include breakpoint(md, "not all") {
  .display--md {
    display: $hide !important;
  }
}

@include breakpoint(md) {
  .hide--md {
    display: $hide !important;
  }
}

@include breakpoint(lg, "not all") {
  .display--lg {
    display: $hide !important;
  }
}

@include breakpoint(lg) {
  .hide--lg {
    display: $hide !important;
  }
}

@include breakpoint(xl, "not all") {
  .display--xl {
    display: $hide !important;
  }
}

@include breakpoint(xl) {
  .hide--xl {
    display: $hide !important;
  }
}
