/*
* CSS Variables
* creates the root variables of the prohject.
*/
:root {
  --zindex-header: 2;
  --zindex-popover: 4;
  --zindex-fixed-element: 5;
  --zindex-overlay: 10; // modals and dialogs
}

/*
* SCSS Variables
* Pulls in the CSS Vairables for easier use.
*/
$zindex-header: var(--zindex-header);
$zindex-popover: var(--zindex-popover);
$zindex-fixed-el: var(--zindex-fixed-element);
$zindex-overlay: var(--zindex-overlay);
