.testimonials {
	&__image {
		border-radius: 50%;
		@include size(100%, auto);
		@include size(194px, null, max);
		border: 2px solid v(colour-white);
		box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.5);
	}
	&__heading,
	&__subheading {
		letter-spacing: unset;
	}
	&__heading {
		font-weight: $weight-heavy;
	}
	&__subheading {
	}
	&__reviews {
	}
}
