.site-footer {
  background-color: v(colour-secondary);

  .footer-heading {
    @include font(em(_heading(h1) + 4), $family-banner, null, null);
    letter-spacing: 1px;
  }

  #hub {
    fill: none;
    stroke: v(colour-text);
    stroke-width: 0.5px;
    @include size(100%);
    @include size(120px, 94px, max);

    use,
    g,
    svg {
      @include size(100%);
    }
  }

  .footer-menu {
    &__list {
      list-style: none;
      padding-left: 0;

      &--social {
        @include flex(center, flex-start, row);

        .footer-menu__heading {
          width: 100%;
        }
      }
    }

    &__item {
      color: v(colour-text);

      >a {
        color: inherit;
      }

      @include all-but-first-last(2) {
        .icon-link {
          .icon {
            @include margin(null 16px);
          }
        }
      }

      .icon {
        fill: v(colour-text);
        @include size(40px);

        @include hover {
          fill: v(colour-accent);
        }
      }
    }
  }
}
