.hero{
    &__body{
        @extend .hero-body;
        @include size(0, 130vh, min);
        @include bgImg('/assets/images/snow-trees', 'center' -440px, 'dark', '/assets/images/green-trees');
        text-align: center;
        color: v(colour-text-secondary);
        font-family: $family-base;
    }
    &__title{
        font-family: $family-banner;
        font-size: $font-hero;
    }
    &__subtitle{
        font-size: _heading(h1);
    }
    &__heading{
        font-size: _heading(h3);
        letter-spacing: -2.42px;
    }
    &__subtitle, &__heading{
        font-weight: $weight-light;
    }
    &__subtitle, &__title{
        letter-spacing: -3.36px;
    }
    &__quotes{
        @include flex(center, center);
    }
    &__quote{
        @include font(ceil(_heading(h1) * 1.2), $family-base, $weight, 1.5);
        letter-spacing: -1px;
        margin: 0 auto;
        width: 100%;
        @include fluid('max-width', 600px, 840px, 414px, 1199px);
        &:not(:nth-of-type(1)){
            display: none;
        }
        blockquote, figcaption{
            font-family: inherit;
        }
        blockquote{
            text-align: left;
        }
        figcaption{
            text-align: right;
            font-size: _heading(h4);
            margin-top: em(20px);
        }
    }
}