$colours: (
  black: #000,
  white: #fff,
  accent: #66bb6a
);
$light-colours: (
  primary: #ededed,
  primary-dark: #1f242d,
  primary-light: #2e3440,
  primary-lighter: #3b4252,
  secondary: #242830,
  secondary-light: #f8f8f8
);
$dark-colours: (
  primary: #242830,
  primary-dark: #1f242d,
  primary-light: #2e3440,
  primary-lighter: #3b4252,
  secondary: #ededed,
  secondary-light: #f8f8f8
);
